*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
}

.container0{
    background-color: red;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.container1{
    background-color: rgb(16, 134, 26);
    height: 100vh;
    width: 100vw;
    position: relative;
}
.container2{
    background-color: rgb(211, 235, 3);
    height: 100vh;
    width: 100vw;
    position: relative;
}

.shoes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.text{

position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200px);
    color: yellow;
}


.text3{

    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 200px);
        color: rgb(13, 117, 22);
    }

#one{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 150px;
}

#one h2{
    text-align: center;
}

#two{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 100px;
}

#two h2{
    text-align: center;
}

#three{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 50px;
}

#three h2{
    text-align: center;
}
    